@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Poppins&family=Rancho&family=Roboto+Mono&family=Space+Grotesk:wght@500&display=swap");

// font-family: 'Lustria', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rancho', cursive;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Space Grotesk', sans-serif;

:root {
    background-color: black;
}

.ae-intro-text {
    text-shadow: $light-green 4px 4px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 0 $dark-teal, 6px 6px 0 $light-green;
}

.ae-links {
    text-shadow: 4px 4px 0 $dark-teal;
}

.ae-letters {
    text-shadow: 4px 4px 0 $dark-teal;
    font-family: "Space Grotesk", sans-serif;
}

.ae-title-letters {
    text-shadow: 2px 2px 0 $dark-green;
    font-family: "Lustria", sans-serif;
}

#ae-particles {
    z-index: -100;
}

.ae-nav-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

.ae-blog-title {
    text-shadow: 2px 3px $dark-green;
    font-family: "Roboto Mono", monospace;
    cursor: default;

}

.ae-blog-header {
    text-shadow: 1px 1px $med-green ;
    font-family: "Space Grotesk", sans-serif;
    cursor: default;

}

@media screen and (max-width: 768px) {
    .ae-nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .ae-nav-menu.active {
        background: #1f5156;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .ae-nav-btn {
        // removes default border on button element
        display: block;
        color: white;
        :hover {
            background-color: #2642af;
        }
    }
    .ae-nav-links {
        display: block;
    }
}
